.BookContent {
  margin: 20px 0 0 35%;
  display: inline-block;
  position: relative;
  width: 520px;
  @include breakpoint($max, $post-mobile-phone) {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  h2 {
    font-size: 3em;
    @include breakpoint($max, $post-mobile-phone) {
      margin: 0 0 0 -28%;
    }
  }

  .author {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.6em;
    font-size: 16px;
  }

  .description {
    @include nypl-font('KievitWeb-Book');
    font-size: 1.5em;
    font-size: 15px;
    line-height: 20px;
    width: 90%;
  }

  .staff-pick {
    @include nypl-font('KievitWeb-Bold');
    font-size: 15px;
    // font-weight: bold;
    margin: 25px 0;

    .staff-pick-icon {
      background: url('/recommendations/staff-picks/client/images/icons/icon.thumbsup.svg') no-repeat;
      padding: 11px 20px 10px 10px;
      margin-right: 10px;
    }
    .staff-pick-text {
      line-height: 24px;
    }
  }

  .borrow {
    font-size: 14px;
    @include nypl-font('KievitWeb-Bold');
    @include breakpoint($max, $post-mobile-phone) {
      position: absolute;
      left: 20%;
    }

    li {
      // background: $lib-blue;
      // border-radius: 5px;
      // margin-right: 20px;
      // display: inline-block;
      margin-bottom: 20px;

      a {
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        display: inline-block;
        padding: 20px;
      }

      .checkout {
        background: url('/recommendations/staff-picks/client/images/icons/icon.book.svg') no-repeat;
        padding: 8px 20px 10px 10px;
        margin-right: 15px;
        &.disabled {
          background: url('/recommendations/staff-picks/client/images/icons/icon.book.disabled.svg') no-repeat;
          background-position: -1px -1px;
          background-size: 112%;
          background-position: -2px -1px;
          background-size: 125%;
          padding: 5px 20px 10px 10px;
          margin-right: 10px;
        }
      }
      .ebook {
        background: url('/recommendations/staff-picks/client/images/icons/icon.eReader.svg') no-repeat;
        background-position: 4px 4px;
        background-size: 77%;
        padding: 12px 20px 10px 10px;
        margin-right: 15px;
        &.disabled {
          background: url('/recommendations/staff-picks/client/images/icons/icon.eReader.disabled.svg') no-repeat;
          background-position: 4px 4px;
          background-size: 77%;
          padding: 11px 20px 10px 10px;
          margin-right: 10px;
        }
      }
    }
  }
}
