node_modules
npm-debug.log
.idea/
coverage/
dist
assets.json
.DS_Store
client/.DS_Store
.nyc_output
package-lock.json
.env
log/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
