.hero {
  background-color: #e4382c;
  color: white;
  height: auto;
  min-height: 72px;
  padding: 0;
  width: 100%;
}

.hero__container {
  height: auto;
  margin: 50px 0 0 0; 
  max-width: 900px;
  overflow: hidden;
  position: relative;
  @include breakpoint($min, 720px) { 
		margin: 0 auto;
	}
}

.hero__container__text-container {
  float: left;
  margin: 4px 0 0 17px; 
  position: relative;
  @include breakpoint($min, $post-palm) {
    margin: 14px 0 40px 60px;  
    width: 40%;
  }
  @include breakpoint($min, $post-laptop) {
    margin: 50px 0 40px 60px;  
    width: 50%;
  }
}

.hero__container__text-container__title {
  box-sizing: border-box;
  color: white;
  position: relative;
  width: 100%;
  h3 {
    font-family: 'KievitWeb-Bold', sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.09rem;
    margin: 24px 0 20px 0;
    text-transform: uppercase;
    @include breakpoint($min, $post-palm) {
      margin: 40px 0 20px 0;
    }
    @include breakpoint($min, 720px) {
      margin: 70px 0 20px 130px;
    }
    @include breakpoint($min, $post-laptop) {
      margin: 0 0 20px 0;
    }
  }
}

.hero__container__text-container__title__des {
  display: none;
  font-family: MiloSlabPro, RobotoSlabLight, serif;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 10px 0;
  text-align: left;
  @include breakpoint($min, 720px) {
    display: none;
    font-size: 20px; 
    line-height: 24px;
  } 
  @include breakpoint($min, $post-laptop) {
    display: block;
    font-size: 28px; 
    line-height: 28px;
  }
}

.hero__container__text-container__title__intro {
  display: none;
  font-family: 'KievitWeb-Book', sans-serif;
  font-size: 15px;
  text-align: left;
  @include breakpoint($min, 720px) {
    display: none;
    font-size: 14px;
  }
   @include breakpoint($min, $post-laptop) {
    display: block;
    font-size: 14px;
  }
}

.hero__container__image-container {
  border-radius: 50%;
  display: none;
  margin: -80px 0 -6px 0;
  overflow: hidden;
  position: relative;
  @include breakpoint($min, 720px) {
    display: inline-block;
    height: 300px;
    width: 300px;
  }
  @include breakpoint($min, $post-laptop) {
    display: inline-block;
    height: 380px;
    width: 380px;
  }
}

.hero__container__image-container__image {
  background-image: url('/client/images/shelftalker.png');
  background-position: 0px -163px;
  background-size: 109%;
  background-repeat: no-repeat;
  display: inline;
  height: auto;
  width: 430px;
  @include breakpoint($min, 720px) {
    height: 300px;
    width: 300px;
  }
  @include breakpoint($min, $post-laptop) {
    height: 380px;
    width: 380px;
  }
}