$libraryRed: #E43534;
$libraryBlue: #0095c8;
$headerHeight: 175px;
$headerPaddingR: 70px;
$headerPaddingL: 120px;
$lib-red: #cc1a16;
$lib-blue: #0095c8;
$text-gray: #bfbfbf;
$dark-lib-gray: #776E64;


@font-face {
  font-family: 'KievitWeb-Book';
  src: url('http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.eot'); /* IE9 Compat Modes */
  src: url('http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'KievitWeb-Bold';
  src: url('http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Bold.eot'); /* IE9 Compat Modes */
  src: url('http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Bold.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'KievitWeb';
  src: url('http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb.eot'); /* IE9 Compat Modes */
  src: url('http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb.woff') format('woff'); /* Pretty Modern Browsers */
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/** MIXINS **/
@mixin display-arrow($direction: 'up', $color: #ededed, $size: 10px, $position: 50%) {
  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    @if $direction == 'up' {
      bottom: 100%;
      right: $position;
      border-bottom-color: $color;
      border-width: $size;
      margin-left: -$size;
    }
    @if $direction == 'down' {
      top: 100%;
      left: $position;
      border-top-color: $color;
      border-width: $size;
      margin-left: -$size;
    }
    @if $direction == 'right' {
      left: 100%;
      top: $position;
      border-left-color: $color;
      border-width: $size;
      margin-top: -$size;
    }
    @if $direction == 'left' {
      right: 100%;
      top: $position;
      border-right-color: $color;
      border-width: $size;
      margin-top: -$size;
    }
  }
}

@import 'transitions';
@import 'breakpoint';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Utility Classes */
.up-arrow {
  @include display-arrow('up', $position: 100px);
}

.signIn-up-arrow {
  @include display-arrow('up', $color: #666, $position: 170px); 
}

body {
  font-family: 'Roboto Slab', sans-serif;
}

/* Header global rules */
#Header {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.mega-menu {
  background-color: $lib-red;
  height: 215px;
  width: 100%;
  margin-top: -8px; // temporary fix

  &.active {
    display: flex;
  }

  .sub-nav {
    width: 200px;
    padding-left: 236px;
    background-color: #414141;

    h2 {
      color: #B1B1B1;
      font-size: 16px;
      font-weight: normal
    }

    ul {
      list-style-type: none;
      padding: 0;
      color: white;
      font-weight: bold;
    }
  }

  .features {
    display: flex;
    color: white;
    width: 100%;

    .image-column {
      margin-right: 20px;
      img {
        border-radius: 50%;
      }
    }

    .feature-item {
      flex-grow: 1;
      padding: 20px 0 20px 50px;
      display: flex;
    }
  }
}

ul#nav_menu {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  right: $headerPaddingR;
  font-size: 14px;
  margin: 0;

  li {
    padding: 1em 0.5em;
  }
}
      
// #header-container + div {
//   margin-top: $headerHeight;
// }

#content {
  width: 93%;
  margin: 0 auto;
  font-family: 'KievitWeb';
  @include breakpoint($min, 767px) {
    width: 960px;
  }
}


#login-form {
  input {
    padding: 10px;
  }

  a {
    text-decoration: underline;
  }
}

span[class*="icon-"] {
  display: table-cell;
  &:before {
    margin-right: 10px;
  }
}

.BookContent {
  margin: 20px 0 0 35%;
  display: inline-block;
  position: relative;
  width: 520px;
  @include breakpoint($max, $post-mobile-phone) {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  h2 {
    font-size: 3em;
    @include breakpoint($max, $post-mobile-phone) {
      margin: 0 0 0 -28%;
    }
  }

  .author {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.6em;
    font-size: 16px;
  }

  .description {
    font-size: 1.5em;
    font-size: 15px;
    line-height: 20px;
    width: 90%;
  }

  .staff-pick {
    font-size: 15px;
    font-weight: bold;
    margin: 25px 0;

    .staff-pick-icon {
      background: url('/client/images/icons/icon.thumbsup.svg') no-repeat;
      padding: 11px 20px 10px 10px;
      margin-right: 10px;
    }
    .staff-pick-text {
      line-height: 24px;
    }
  }

  .borrow {
    font-size: 14px;
    @include breakpoint($max, $post-mobile-phone) {
      position: absolute;
      left: 20%;
    }

    li {
      // background: $lib-blue;
      // border-radius: 5px;
      // margin-right: 20px;
      // display: inline-block;
      margin-bottom: 20px;

      a {
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        display: inline-block;
        padding: 20px;
      }

      .checkout {
        background: url('/client/images/icons/icon.book.svg') no-repeat;
        padding: 5px 20px 10px 10px;
        margin-right: 10px;
        &.disabled {
          background: url('/client/images/icons/icon.book.disabled.svg') no-repeat;
          background-position: -1px -1px;
          background-size: 112%;
          background-position: -2px -1px;
          background-size: 125%;
          padding: 5px 20px 10px 10px;
          margin-right: 10px;
        }
      }
      .ebook {
        background: url('/client/images/icons/icon.eReader.svg') no-repeat;
        background-position: 4px 4px;
        background-size: 77%;
        padding: 11px 20px 10px 10px;
        margin-right: 10px;
        &.disabled {
          background: url('/client/images/icons/icon.eReader.disabled.svg') no-repeat;
          background-position: 4px 4px;
          background-size: 77%;
          padding: 11px 20px 10px 10px;
          margin-right: 10px;
        }
      }
    }
  }
}

.main-container {
  overflow: auto;
  padding: 0;

  #sidebar {
    float: left;
    margin-right: 3%;
    min-width: 60px;
    padding: 0;
    width: 100%;

    @include breakpoint($min, $post-mobile-phone) {
      margin-right: 20px;
      width: 30%;
    }
    @include breakpoint($min, $post-palm) {
      max-width: 160px;
    }
    @include breakpoint($min, $post-tablet) {
      max-width: 160px;
    }

    .sidebar-content {
      margin-bottom: 30px;
    }
  }

  #books {
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
    @include breakpoint($min, $post-mobile-phone) {
      width: 280px;
    }
    @include breakpoint($min, $post-palm) {
      width: 60%;
    }
     @include breakpoint($min, $post-tablet) {
      width: 68%;
    }
    @include breakpoint($min, $post-desktop) {
      width: 81%;
    }

  }

  .list-view {
    li {
      color: $lib-blue;

      h2 {
        font-size: 22px;
        cursor: pointer;
      }

      p {
        margin: 5px 0;
        font-size: 14px;
        color: $dark-lib-gray;
      }
    }
  }
}

// Temporary overrides for the modal window
body {
  .ReactModal__Content {
    min-height: 520px;
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 15%;
    bottom: 0;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 30px 20px 20px 30px;
    position: relative;
    width: 850px;
    margin: 7% 0;
    @include breakpoint($max, $post-mobile-phone) {
      border: 0px solid #ccc;
      border-radius: 0px;
      height: 100%;
      left: 0px;
      margin: 0;
      padding: 20px 10px 20px 10px;
      top: 50px;
      width: 100%;
    }
  }
}

.ReactModal__Body--open{
  position: fixed;
  @include breakpoint($min, $post-mobile-phone) {
    position: relative;
  }
}

.ReactModalPortal .ReactModal__Overlay {
  z-index: 200;
  overflow: auto;
  @include breakpoint($max, $post-mobile-phone) {
    background-color: rgba(255, 255, 255, 0);
    overflow: auto;
  }
}

.tumblr-share-button {
  background-image: 'none';
  display: 'inline-block';
  height: 61px;
  width: 60px;
}

.month-picker {
  font-size: 12px;
  a {
    color: $dark-lib-gray;
    text-decoration: none;
  }

  .left-icon {
    background: url('/client/images/icons/left_arrow_gray.svg') no-repeat;
    padding: 5px 15px 7px 10px;
    margin-left: -95px;
  }
  .right-icon {
    background: url('/client/images/icons/right_arrow_gray.svg') no-repeat;
    padding: 5px 15px 10px 10px;
    margin-left: 10px;
  }
}

.minus-icon {
  background: url('/client/images/icons/minus.icon.svg') no-repeat;
  padding: 2px 15px 10px 10px;
  margin-left: 0px;
  transition: opacity 0.4s ease-in;
}

.BookDisplayButtons {
  .BookDisplayButtons-list {
    margin-bottom: 10px;

    @include breakpoint($min, $post-mobile-phone) {
      margin-bottom: 20px;
    }

    li {
      display: inline-block;
      border-radius: 20px;
      border: 2px solid $text-gray;
      width: 95px;
      margin: 0px 0px 10px 15%;

      @include breakpoint($min, $post-mobile-phone) {
        display: block;
        margin-left: 30px;
      }

      a {
        display: inline-block;
        cursor: pointer;
        padding: 10px 10px 10px 12px;
        width: 90px;
        color: $text-gray;
      }

      .icon {
        padding: 1px 6px 5px 15px;
      }

      .BookDisplayButtons-list-icon {
        background: url('/client/images/icons/SmallListIconGray.svg') no-repeat;
      }

      .BookDisplayButtons-grid-icon {
        background: url('/client/images/icons/SmallBookGray.svg') no-repeat;
      }
    }

    .active {
      border: 2px solid $lib-blue;

      a {
        color: $lib-blue;
      }
    }

    .gridActive {
      .BookDisplayButtons-grid-icon {
        background: url('/client/images/icons/SmallBookBlue.svg') no-repeat;
      }
    }
    .listActive {
      .BookDisplayButtons-list-icon {
        background: url('/client/images/icons/SmallListIconBlue.svg') no-repeat;
      }
    }

    &.list {
      margin-bottom: 10px;
    }
  }
}

.mobile-filter-btn {
  font-size: 18px;
  border-bottom-style: solid;
  border-color: #0095c8;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 6px;
  border-top-style: solid;
  border-width: 2px;
  margin: 0 auto;
  padding: 18px 10px 18px 10px;
  text-align: center;
  width: 200px;

  a {
    text-decoration: none;
  }

  @include breakpoint($min, $post-mobile-phone) {
    display: none;
  }
}

.mobile-done-button {
  border-bottom-style: solid;
  border-color: #0095c8;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 6px;
  border-top-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
  padding: 14px 10px;
  text-align: center;
  width: 100px;
  a {
    color: #0095c8;
    font-size: 1.2em;
    text-decoration: none;
  }
   @include breakpoint($min, 719px) {
    display: none;
  }
}

.BookFilters {
  display: none;

  @include breakpoint($min, $post-mobile-phone) {
    display: block;
  }

  h2 {
    color: $lib-red;
    font-size: 15px;
  }

  .divider {
    width: 40px;
    height: 2px;
    margin: 5px 0;
    background: $lib-red;
    display: inline-block;
  }

  .BookFilters-lists {
    text-align: left;
    font-size: 12px;
    padding-top: 20px;

    @include breakpoint($min, $post-mobile-phone) {
      text-align: right;
    }

    ul {
      padding: 10px 0;

      li {
        font-size: 14px;
        padding: 5px 0;

        a {
          cursor: pointer;
          text-decoration: none;
          color: $lib-blue;
        }
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.hide-filter {
  opacity: 0;
  padding: 0;
}
.show-filter {
  opacity: 1;
  margin-left: 10px;
}

.minus-enter {
  opacity: 0.01;
}

.minus-enter.minus-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.minus-leave {
  opacity: 1;
}

.minus-leave.minus-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.books-appear, .minus-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.books-appear.books-appear-active,
.minus-appear.minus-appear-active {
  opacity: 1;
}

.clearFilters {
  a {
    text-decoration: none;
    color: $lib-blue;
  }
}
.close-icon {
  background: url('/client/images/icons/gray_x_button.svg') no-repeat;
  padding: 5px 18px 8px 10px;
  margin-left: 10px;
}

.no-scroll {
  overflow: hidden;
}


@import 'header';
@import 'footer';
@import 'age-tabs';
@import 'book';
@import 'book-modal';