$libraryRed: #E43534;
$libraryBlue: #0095c8;
$headerHeight: 175px;
$headerPaddingR: 70px;
$headerPaddingL: 120px;
$lib-red: #cc1a16;
$lib-blue: #0095c8;
$text-gray: #bfbfbf;
$dark-lib-gray: #776E64;

/* first for IE 4–8 */
@font-face {
    font-family: KievitWeb-Book;
    src: url("http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.eot");
}

/* then for WOFF-capable browsers */
@font-face {
    font-family: KievitWeb-Book;
    src: url("http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.woff") format("woff");
}

/** MIXINS **/
@mixin display-arrow($direction: 'up', $color: #ededed, $size: 10px, $position: 50%) {
  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    @if $direction == 'up' {
      bottom: 100%;
      right: $position;
      border-bottom-color: $color;
      border-width: $size;
      margin-left: -$size;
    }
    @if $direction == 'down' {
      top: 100%;
      left: $position;
      border-top-color: $color;
      border-width: $size;
      margin-left: -$size;
    }
    @if $direction == 'right' {
      left: 100%;
      top: $position;
      border-left-color: $color;
      border-width: $size;
      margin-top: -$size;
    }
    @if $direction == 'left' {
      right: 100%;
      top: $position;
      border-right-color: $color;
      border-width: $size;
      margin-top: -$size;
    }
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Utility Classes */
.up-arrow {
  @include display-arrow('up', $position: 100px);
}

.signIn-up-arrow {
  @include display-arrow('up', $color: #666, $position: 170px); 
}

body {
    font-family: KievitWeb-Book, sans-serif;
}

/* Header global rules */
#Header {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.mega-menu {
  background-color: $lib-red;
  height: 215px;
  width: 100%;
  margin-top: -8px; // temporary fix

  &.active {
    display: flex;
  }

  .sub-nav {
    width: 200px;
    padding-left: 236px;
    background-color: #414141;

    h2 {
      color: #B1B1B1;
      font-size: 16px;
      font-weight: normal
    }

    ul {
      list-style-type: none;
      padding: 0;
      color: white;
      font-weight: bold;
    }
  }

  .features {
    display: flex;
    color: white;
    width: 100%;

    .image-column {
  margin-right: 20px;
  img {
      border-radius: 50%;
  }
    }

    .feature-item {
      flex-grow: 1;
      padding: 20px 0 20px 50px;
      display: flex;
    }
  }
}

ul#nav_menu {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  right: $headerPaddingR;
  font-size: 14px;
  margin: 0;

  li {
    padding: 1em 0.5em;
  }
}
      
// #header-container + div {
//   margin-top: $headerHeight;
// }

#content {
  // padding-left: 236px;
  // padding-right: $headerPaddingR;
  // padding-top: $headerHeight;
  // min-height: 200px;
  width: 960px;
  margin: 0 auto;
}

#login-form {
  input {
    padding: 10px;
  }

  a {
    text-decoration: underline;
  }
}

span[class*="icon-"] {
  display: table-cell;
  &:before {
    margin-right: 10px;
  }
}

.BookContent {
  margin-left: 30px;
  display: inline-block;
  position: absolute;
  width: 520px;

  h2 {
    font-size: 3em;
  }

  .author {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.6em;
    font-size: 16px;
  }

  .description {
    font-size: 1.5em;
    font-size: 15px;
  }

  .staff-pick {
    font-size: 15px;
    font-weight: bold;
    margin: 25px 0;

    .staff-pick-icon {
      background: url('/client/images/icons/icon.thumbsup.svg') no-repeat;
      padding: 11px 20px 10px 10px;
      margin-right: 10px;
    }
  }

  .borrow {
    font-size: 14px;

    li {
      // background: $lib-blue;
      // border-radius: 5px;
      // margin-right: 20px;
      // display: inline-block;

      a {
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        display: inline-block;
        padding: 20px;
      }

      .checkout {
        background: url('/client/images/icons/icon.book.svg') no-repeat;
        padding: 5px 20px 10px 10px;
        margin-right: 10px;
      }
      .ebook {
        background: url('/client/images/icons/icon.eReader.svg') no-repeat;
        padding: 11px 20px 10px 10px;
        margin-right: 10px;
      }
    }
  }
}

.main-container {
  overflow: auto;
  padding: 15px 0;

  #sidebar {
    float: left;
    padding: 0;
    margin-right: 30px;
    width: 140px;
  }

  #books {
    float: left;
    width: 790px;
  }

  .list-view {
    li {
      margin-bottom: 25px;
      color: $lib-blue;

      h2 {
        font-size: 22px;
        cursor: pointer;
      }

      p {
        margin: 5px 0;
        font-size: 14px;
        color: $dark-lib-gray;
      }
    }
  }
}

// Temporary overrides for the modal window
body {
  .ReactModal__Content {
    min-height: 500px;
    z-index: 2000;
    position: absolute;
    top: 20%;
    left: 15%;
    bottom: 60%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 30px 20px 20px 30px;
    width: 850px;
  }
}

.month-picker {
  font-size: 12px;

  a {
    color: $dark-lib-gray;
    text-decoration: none;
  }

  .left-icon {
    background: url('/client/images/icons/left_arrow_gray.svg') no-repeat;
    padding: 5px 15px 5px 10px;
    margin-left: -100px;
  }
  .right-icon {
    background: url('/client/images/icons/right_arrow_gray.svg') no-repeat;
    padding: 5px 15px 10px 10px;
    margin-left: 10px;
  }
}

.BookDisplayButtons {
  .BookDisplayButtons-list {
    margin-bottom: 20px;

    li {
      border-radius: 15px;
      border: 2px solid $text-gray;
      width: 95px;
      margin: 0px 0px 10px 30px;

      a {
        display: inline-block;
        cursor: pointer;
        padding: 10px 10px 10px 12px;
        width: 90px;
        color: $text-gray;
      }

      .icon {
        padding: 1px 6px 5px 15px;
      }

      .BookDisplayButtons-list-icon {
        background: url('/client/images/icons/SmallListIconGray.svg') no-repeat;
      }

      .BookDisplayButtons-grid-icon {
        background: url('/client/images/icons/SmallBookGray.svg') no-repeat;
      }
    }

    .active {
      border: 2px solid $lib-blue;

      a {
        color: $lib-blue;
      }
    }

    .gridActive {
      .BookDisplayButtons-grid-icon {
        background: url('/client/images/icons/SmallBookBlue.svg') no-repeat;
      }
    }
    .listActive {
      .BookDisplayButtons-list-icon {
        background: url('/client/images/icons/SmallListIconBlue.svg') no-repeat;
      }
    }
  }
}

.BookFilters {
  h2 {
    color: $lib-red;
    font-size: 15px;
  }

  .divider {
    width: 40px;
    height: 2px;
    margin: 5px 0;
    background: $lib-red;
    display: inline-block;
  }

  .BookFilters-lists {
    font-size: 12px;
    text-align: right;
    padding-top: 20px;

    ul {
      padding: 10px 0;

      li {
        font-size: 14px;
        padding: 5px 0;

        a {
          text-decoration: none;
          color: $lib-blue;
        }
      }
    }
  }
}

.book-item {
  transition: all 3s linear;
  display: block;
}

.activeClass {
  display: block;
}


.removed {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.example-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}

@import 'transitions';
@import 'breakpoint';
@import 'header';
@import 'footer';
@import 'ageTabs';
