.about {
  h2 {
    margin: 0.8rem 0;
  }

  ul {
    li {
      list-style: none;
      display: inline-block;
    }
  }

  a {
    color: $nypl-blue;
    background: $nypl-white;
  }

  svg {
    fill: $nypl-blue;
    height: 30px;

    &:first-child {
      margin-right: 20px;
    }
  }

  .inner {
    width: 20rem;
  }

  @include min-screen($mobile-breakpoint) {
    border-top: 2px solid $nypl-gray-cool;
  }
}
