.about {
  h2 {
    margin: 0.8rem 0;
  }

  ul {
    li {
      list-style: none;
    }
  }

  a {
    color: $nypl-blue;
    background: $nypl-white;
  }

  .inner {
    width: 20rem;
  }

  @include min-screen($mobile-breakpoint) {
    border-top: 2px solid $nypl-gray-cool;
  }
}
