.book-item {
  margin: 0;
  padding-bottom: .75em;
  padding-top: .75em;

  &:nth-child(odd) {
    clear: left;
  }

  &-image-box {
    display: block;
    height: auto;

    @include min-screen($medium-screen-breakpoint) {
      display: inline-block;
      margin-right: 2.5%;
      vertical-align: top;
      width: 37.5%;
    }

    img {
      max-width: 100%;
    }
  }

  &-description {
    display: block;

    @include min-screen($medium-screen-breakpoint) {
      display: inline-block;
      margin-right: 2.5%;
      width: 57.5%;
    }
  }
}
