.book-filters {
  &-heading {
    position: relative;
    border-top: 4px solid $nypl-red;

    h3 {
      padding: 0 0 12px 0;
      margin: 15px 0 0;
      display: inline-block;

      @include min-screen($mobile-breakpoint) {
        padding-left: 0;
        font-size: .85rem;
      }

      @include min-screen($mobile-breakpoint + 85px) {
        font-size: .9rem;
      }

      svg {
        float: left;
        margin: -4px 0 0 -5px;
      }
    }

    & > h3 {
      margin-top: 95px;

      @include min-screen($mobile-breakpoint) {
        margin-top: 15px;
      }
    }

    // book count text
    & > span {
      font-size: 0.75rem;
      margin: 0 0 0 8px;
      display: inline-block;

      @include min-screen($mobile-breakpoint) {
        margin: 0;
        position: absolute;
        right: 0%;
        top: 47%;
        @include transform(translate(0, -50%));
      }

      @include min-screen($mobile-breakpoint + 85px) {
        right: 1%;
        font-size: .8rem;
      }
    }
  }

  &-toggleButton {
    -webkit-appearance: none;
    background-color: $nypl-white;
    border: none;
    position: absolute;
    right: .2em;
    margin: 7px 0 0 0;

    @include min-screen($mobile-breakpoint) {
      display: none;
      visibility: hidden;
    }

    & .svgIcon {
      @include transition-list(200ms linear);

      &.rotate-up {
        @include transform(rotate(90deg));
      }
      &.rotate-down {
        @include transform(rotate(270deg));
      }
    }
  }

  &-list {
    @include transition-list(max-height .3s ease-in-out);
    margin: 0;
    height: auto;
    overflow: hidden;

    // Accordion rules
    &.collapse {
      max-height: 0;
      visibility: hidden;

      @include min-screen($mobile-breakpoint) {
        max-height: none;
        visibility: visible;
      }
    }

    &.expand {
      max-height: 100em;
      visibility: visible;
    }

    & > ul {
      margin: 0;
    }
  }

  .clear-button {
    width: 88%;
    text-align: right;
    font-size: 0.8rem;
    padding: 10px;
    font-size: 1rem;
    margin: 0 0 0 1.3em;
    width: 200px;
    @include border-radius(5px);

    @include min-screen($mobile-breakpoint + 1) {
      width: 100%;
      margin-left: 0;
    }

    svg {
      float: left;
      height: 2rem;
      width: 2rem;
      margin: -2px 0 0;
      fill: $nypl-white;
    }

    &:hover {
      svg {
        fill: $nypl-blue;
      }
    }
  }
}
