$book-card-smallscreen-gutter: 2.5%;
$book-card-largescreen-gutter: 3.5%;

.book-item {
  border-bottom: 2px solid $nypl-gray-cool;
  margin: .5em .25em 1.5em .25em;
  padding-bottom: 1em;
  padding-top: .75em;
  max-width: 100%;
  @include clearfix;

  &.withTranslatorIllustrator {
    .book-item-illustrator {
      margin-bottom: 0;
    }
  }

  // Split into two columns
  @include min-screen($mobile-breakpoint) {
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    max-width: 48.5%;
    &:nth-child(odd) {
      clear: left;
      margin: 0;
      margin-right: 1.5%;
    }

    &:nth-child(even) {
      margin-right: 0;
      margin-left: 1.5%;
    }
  }

  &-image-box {
    display: block;
    max-width: 30%;
    float: left;

    @include min-screen($xtrasmall-breakpoint) {
      min-height: 400px;
    }

    @include min-screen($xtrasmall-breakpoint + 150px) {
      min-height: 510px;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 $book-card-smallscreen-gutter;
    }
  }

  &-title {
    float: left;
    font-weight: bold;
    margin: 0 $book-card-smallscreen-gutter;
    width: 65%;
    line-height: 1.2;

    @include min-screen($mobile-breakpoint) {
      margin: 0 $book-card-largescreen-gutter;
      width: 63%;
    }
  }

  &-author {
    float: left;
    font-size: 1.05rem;
    font-weight: normal;
    margin: 3% $book-card-smallscreen-gutter 0;
    width: 65%;

    @include min-screen($mobile-breakpoint) {
      margin: 3% $book-card-largescreen-gutter 0;
      width: 63%;
    }
  }

  &-illustrator {
    float: left;
    width: 65%;
    margin: 0 $book-card-smallscreen-gutter 1.25%;

    @include min-screen($mobile-breakpoint) {
      margin: 0 $book-card-largescreen-gutter 1.25%;
      width: 63%;
    }
  }

  &-translator {
    float: left;
    width: 65%;
    margin: 0 $book-card-smallscreen-gutter 1.25%;

    @include min-screen($mobile-breakpoint) {
      margin: 0 $book-card-largescreen-gutter 1.25%;
      width: 63%;
    }
  }

  &-catalog-links {
    clear: left;
    padding: 2.5% 0 0;

    @include min-screen($xtrasmall-breakpoint) {
      clear: none;
      float: left;
      margin: 0 $book-card-smallscreen-gutter;
      padding: 0;
      width: 65%;
    }

    @include min-screen($mobile-breakpoint) {
      width: 63%;
      margin: 0 $book-card-largescreen-gutter;
    }

    a {
      @include basic-button(
        $background-color: $nypl-blue,
        $border-color: $nypl-blue,
        $border-radius: .25rem,
        $hover-text-color: $nypl-blue,
        $hover-background-color: $nypl-white,
        $padding-vertical: .25rem,
        $text-color: $nypl-white
      );
      // overrides
      font-size: 14px;
      margin: 12.5px 0 12.5px 1%;
      max-width: 100%;

      &:first-child {
        @include min-screen($xtrasmall-breakpoint) {
          margin: 10px 10px 10px 0;
        }
      }

      &:last-child {
        @include min-screen($xtrasmall-breakpoint) {
          margin: 10px 5px 15px 0;
        }
      }

      svg {
        fill: #fff;
        height: 32px;
        position: relative;
        width: 32px;
      }

      .book-icon {
        top: .28rem;
      }

      .eReader-icon {
        top: .2rem;
      }

      span {
        bottom: 7px;
        margin: 0 0 0 3px;
        position: relative;
      }

      &:hover {
        svg {
          fill: $nypl-blue;
        }
      }
    }
  }

  &-picked-by,
  &-description {
    font-size: .95rem;
    padding: 0;
    margin: 0 1%;
    clear: left;
    display: block;

    @include min-screen($xtrasmall-breakpoint) {
      clear: none;
      float: left;
      width: 65%;
      margin: 1% $book-card-smallscreen-gutter;
    }

    @include min-screen($mobile-breakpoint) {
      margin: 1% $book-card-largescreen-gutter;
      width: 63%;
    }
  }

  &-tags {
    padding: 0;
    margin: 0 1%;
    clear: left;
    font-size: .75rem;
    color: $nypl-red;

    &.js {
      -webkit-animation: none;
      -moz-animation: none;
      -o-animation: none;
      animation: none;
    }

    &.no-js {
      -webkit-animation: fadeInBeforeJSDetected 3s;
      -moz-animation: fadeInBeforeJSDetected 3s;
      -o-animation: fadeInBeforeJSDetected 3s;
      animation: fadeInBeforeJSDetected 3s;
    }

    @include min-screen($xtrasmall-breakpoint) {
      clear: none;
      float: right;
      width: 65%;
      margin: 1% $book-card-smallscreen-gutter;
    }

    @include min-screen($mobile-breakpoint) {
      margin: 0 $book-card-largescreen-gutter 1%;
      width: 63%;
    }
  }
}
