.book-filters {
  &-heading {
    border-top: 4px solid $nyplred;
    //box-shadow: 0 0 15px rgba(0,0,0,0.5);

    h2 {
      padding: 0px 0 15px 5px;
      font-size: 1rem;
      margin: 15px 0 0;

      svg {
        height: 25px;
        width: 25px;
        float: left;
        margin: -5px 0 0;
      }
    }
  }

  ul {
    margin-left: 40px;
  }
}
