.booklist-section {
  margin-top: 22px;

  & > h2 {
    background: #fff;
    color: $nypl-red;
    max-width: 100%;

    &:before {
      background: $nypl-red;
      content: '';
      display: block;
      height: 0.25rem;
      margin-bottom: 0.5rem;
      width: 100%;
    }
  }
}

.booklist {
  @import 'bookItem';
}
