.BookDisplayButtons {
  &-List {
    margin-bottom: 30px;
    text-align: center;

    @include breakpoint($min, $post-mobile-phone) {
      margin-bottom: 40px;
    }

    li {
      border-radius: 20px;
      border: 2px solid $text-gray;
      display: inline-block;
      margin: 0 8%;
      width: 95px;
      @include breakpoint($min, $post-mobile-phone) {
        display: block;
        margin: 0px auto 10px auto;
      }

      a {
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        padding: 10px 30px 10px 11px;
        width: 90px;
        color: $text-gray;
      }

      .icon {
        padding: 3px 10px 5px 15px;
      }
    }

    .active {
      border: 2px solid $lib-blue;

      a {
        color: $lib-blue;
      }

      .BookDisplayButtons-grid-icon {
        background: url('/recommendations/staff-picks/src/client/images/icons/SmallBookBlue.svg') no-repeat;
      }

      .BookDisplayButtons-list-icon {
        background: url('/recommendations/staff-picks/src/client/images/icons/SmallListIconBlue.svg') no-repeat;
      }
    }

    &.list {
      margin-bottom: 10px;
    }
  }

  &-grid-icon {
    background: url('/recommendations/staff-picks/src/client/images/icons/SmallBookGray.svg') no-repeat;
  }

  &-list-icon {
    background: url('/recommendations/staff-picks/src/client/images/icons/SmallListIconGray.svg') no-repeat;
  }
}
