.book-filters {
  &-heading {
    border-top: 4px solid $nypl-red;

    h2 {
      padding: 0px 0 15px 5px;
      font-size: 1rem;
      margin: 15px 0 0;
      font-weight: 200;
      display: inline-block;

      svg {
        height: 25px;
        width: 25px;
        float: left;
        margin: -5px 0 0;
      }
    }

    span {
      font-size: 0.8rem;
      margin: 0 0 0 15px;
      display: inline-block;
    }
  }

  ul {
    margin-left: 40px;
  }

  .clear-button {
    width: 100%;
    text-align: right;
    border-radius: 0px;
    font-size: 0.8rem;
    padding: 5px 10px;

    svg {
      height: 25px;
      width: 25px;
      float: left;
      margin: -3px 0 0;
      fill: $nypl-white;
    }

    &:hover {
      svg {
        fill: $nypl-blue;
      }
    }
  }
}
