.BookFilters {
  display: none;

  @include breakpoint($min, $post-mobile-phone) {
    display: block;
  }

  h2 {
    color: $lib-red;
    font-size: 18px;
    line-height: 1.25em;

    @include breakpoint($min, $post-desktop) {
      text-align: right;
    }
  }

  .divider {
    width: 220px;
    height: 2px;
    margin: 5px 0 15px 0;
    background: $lib-red;
    display: inline-block;

    @include breakpoint($min, $post-mobile-phone) {      
      width: 100%;
    }
  }

  &-lists {
    text-align: left;
    font-size: 12px;
    padding-top: 20px;

    @include breakpoint($min, $post-mobile-phone) {
      text-align: right;
    }

    > span {
      font-size: 18px;
    }

    ul {
      padding: 10px 0;

      li {
        font-size: 16px;
        padding: 5px 0;

        a {
          cursor: pointer;
          text-decoration: none;
          color: $lib-blue;
        }
      }
    }
  }
}
