.book-filters {
  &-heading {
    border-top: 4px solid $nypl-red;

    h2 {
      padding: 0px 0 15px 5px;
      font-size: 1rem;
      margin: 15px 0 0;
      font-weight: 200;

      svg {
        height: 25px;
        width: 25px;
        float: left;
        margin: -5px 0 0;
      }
    }
  }

  ul {
    margin-left: 40px;
  }
}
