.tumblr-share-button {
  background-image: 'none';
  display: 'inline-block';
  height: 61px;
  width: 60px;
}

.month-picker {
  font-size: 12px;
  a {
    color: $dark-lib-gray;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
  }

  p {
    position: absolute;
    left: 42%;
    @include breakpoint($min, $post-mobile-phone) {
      left: 52%;
    }
  }
  .left-icon {
    background: url('/recommendations/staff-picks/src/client/images/icons/left_arrow_blue.svg') no-repeat;
    padding: 5px 15px 7px 10px;
    margin: 0 5px 0 25px;
  }
  .right-icon {
    background: url('/recommendations/staff-picks/src/client/images/icons/right_arrow_blue.svg') no-repeat;
    padding: 5px 15px 10px 10px;
    margin-left: 10px;
  }
}

.minus-icon {
  background: url('/recommendations/staff-picks/src/client/images/icons/minus.icon.svg') no-repeat;
  padding: 2px 15px 10px 10px;
  margin-left: 0px;
  transition: opacity 0.4s ease-in;
}

.BookDisplayButtons {
  .BookDisplayButtons-list {
    margin-bottom: 30px;
    text-align: center;

    @include breakpoint($min, $post-mobile-phone) {
      margin-bottom: 40px;
    }

    li {
      border-radius: 20px;
      border: 2px solid $text-gray;
      display: inline-block;
      margin: 0 8%;
      width: 95px;
      @include breakpoint($min, $post-mobile-phone) {
        display: block;
        margin: 0px auto 10px auto;
      }

      a {
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        padding: 10px 30px 10px 11px;
        width: 90px;
        color: $text-gray;
      }

      .icon {
        padding: 3px 10px 5px 15px;
      }

      .BookDisplayButtons-list-icon {
        background: url('/recommendations/staff-picks/src/client/images/icons/SmallListIconGray.svg') no-repeat;
      }

      .BookDisplayButtons-grid-icon {
        background: url('/recommendations/staff-picks/src/client/images/icons/SmallBookGray.svg') no-repeat;
      }
    }

    .active {
      border: 2px solid $lib-blue;

      a {
        color: $lib-blue;
      }
    }

    .gridActive {
      .BookDisplayButtons-grid-icon {
        background: url('/recommendations/staff-picks/src/client/images/icons/SmallBookBlue.svg') no-repeat;
      }
    }
    .listActive {
      .BookDisplayButtons-list-icon {
        background: url('/recommendations/staff-picks/src/client/images/icons/SmallListIconBlue.svg') no-repeat;
      }
    }

    &.list {
      margin-bottom: 10px;
    }
  }
}

.BookDisplayButtons-list__li-container {
    display: inline-block;
    width: 50%;
    @include breakpoint($min, $post-mobile-phone) {
      width: 100%;
    }
}

.mobile-filter-btn {
  font-size: 18px;
  border-bottom-style: solid;
  border-color: #0095c8;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 6px;
  border-top-style: solid;
  border-width: 2px;
  margin: 0 auto;
  padding: 18px 10px 18px 10px;
  text-align: center;
  width: 200px;

  a {
    text-decoration: none;
  }

  @include breakpoint($min, $post-mobile-phone) {
    display: none;
  }
}

.BookFilters__close-btn {
  background: url('/recommendations/staff-picks/src/client/images/icons/gray_x_button.svg') no-repeat;
  position: absolute;
  font-size: 1.3em;
  height: auto;
  margin: 0 0 20px 0;
  padding: 5px 4px 30px 36px;
  top: 3%;
  left: 90%;
  @include breakpoint($min, 480px) {
    display: none;
  }
}

.mobile-done-button {
  border-bottom-style: solid;
  border-color: #0095c8;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 6px;
  border-top-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
  padding: 14px 10px;
  text-align: center;
  width: 100px;
  a {
    color: #0095c8;
    font-size: 1.2em;
    text-decoration: none;
  }
   @include breakpoint($min, 480px) {
    display: none;
  }
}
