li.filter-item {
  margin: 15px 0;

  button {
    background: $nypl-white;
    color: $nypl-blue;
    border-radius: 25px;
    width: 11rem;
    text-align: center;
    padding-left: 20px;
    white-space: pre-line;
    line-height: 1.2;
    min-height: 2.5rem;

    svg {
      fill: $nypl-blue;
      float: left;
      height: 1.25rem;
      width: 1.25rem;
      margin: 0 5px 0 0;
      position: relative;
    }

    &:disabled {
      background-color: $nypl-white;
      border-color: $nypl-gray;
      color: $nypl-gray;

      &:hover {
        background-color: $nypl-white;
        border-color: $nypl-gray;
        color: $nypl-gray;
      }
    }

    &:hover {
      background: $nypl-blue;
      color: $nypl-white;

      svg {
        fill: $nypl-white;
      }
    }

    &.transition,
    &.active {
      padding-left: 15px;
      margin-left: -20px;
    }

    &.transition {
      background: $nypl-blue-sky;
      color: $nypl-blue-dark;
      border-color: $nypl-blue-dark;

      svg {
        fill: $nypl-blue-dark;
      }
    }

    &.active {
      color: $nypl-white;
      border: 0.04167rem solid $nypl-blue;
      background: $nypl-blue;

      svg {
        fill: $nypl-white;
      }
    }
  }
}
