li.filter-item {
  margin: 15px 0;

  button {
    background: #fff;
    color: #1b7fa7;
    border-radius: 25px;

    svg {
      fill: #1b7fa7;
      float: left;
      height: 1.25rem;
      margin: -4px 5px 0 0;
      position: relative;
      top: 0.5rem;
      width: 1.25rem;
    }

    &:hover {
      background: lighten(#1b7fa7, 50%);
    }

    &.active {
      margin-left: -20px;
      color: #1b7fa7;
      border: 0.04167rem solid #1b7fa7;
    }
  }
}
