li.filter-item {
  margin: 15px 0;

  button {
    background: $nypl-white;
    color: $nypl-blue;
    border-radius: 25px;
    width: 11rem;
    text-align: left;
    height: 2.5rem;

    svg {
      fill: $nypl-blue;
      float: left;
      height: 1.25rem;
      margin: -4px 5px 0 0;
      position: relative;
      top: 0.5rem;
      width: 1.25rem;
      margin-right: 0.5rem;
    }

    &:hover {
      background: $nypl-blue;
      color: $nypl-white;

      svg {
        fill: $nypl-white;
      }
    }

    &.transition {
      background: $nypl-sky-blue;
      color: $nypl-dark-blue;
      border-color: $nypl-dark-blue;

      svg {
        fill: $nypl-dark-blue;
      }
    }

    &.active {
      margin-left: -20px;
      color: $nypl-white;
      border: 0.04167rem solid $nypl-blue;
      background: $nypl-blue;

      svg {
        fill: $nypl-white;
      }
    }
  }
}
