.hero {
  background-color: #e4382c;
  color: white;
  height: auto;
  min-height: 72px;
  padding: 0;
  width: 100%;
}

.hero__container {
  height: auto;
  margin: 0; 
  max-width: 900px;
  overflow: hidden;
  position: relative;
  @include breakpoint($min, 720px) { 
		margin: 0 auto;
	}
}

.hero__container__text-container {
  float: left;
  margin: 4px 0 0 22px; 
  position: relative;

  @include breakpoint($min, $post-palm) {
    margin: 10px 40px 40px 70px;  
    width: 40%;
  }

  @include breakpoint($min, 720px) {
    margin: 70px 40px 40px 70px;
  }

  @include breakpoint($min, $post-laptop) {
    margin: 120px 40px 56px 60px;  
    width: 45%;
  }
}

.hero__container__text-container__title {
  box-sizing: border-box;
  color: white;
  position: relative;
  width: 100%;
  h3 {
    @include Kievit-Bold;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.09rem;
    margin: 24px 0 10px 0;
    text-transform: uppercase;

    @include breakpoint($min, $post-palm) {
      margin: 40px 0 10px 0;
    }

    @include breakpoint($min, 720px) {
      margin: 0 0 20px 0;
    }

    @include breakpoint($min, $post-laptop) {
      margin: 0 0 20px 0;
    }
  }
}

.hero__container__text-container__title__des {
  display: none;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 5px 0;
  text-align: left;

  @include Milo-Regular;

  @include breakpoint($min, 720px) {
    display: block;
    font-size: 20px; 
    line-height: 24px;
    margin: 0 0 20px 0;
  }

  @include breakpoint($min, $post-laptop) {
    display: block;
    font-size: 28px; 
    line-height: 28px;
    margin: 0 0 10px 0;
  }
}

.hero__container__text-container__title__intro {
  display: none;
  font-family: 'KievitWeb-Book', sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: left;

  @include breakpoint($min, 720px) {
    display: block;
    font-size: 12px;
    line-height: 14px;
  }

   @include breakpoint($min, $post-laptop) {
    display: block;
    font-size: 14px;
    line-height: 18px;
  }
}

.hero__container__image-container {
  background-image: url('/recommendations/staff-picks/src/client/images/shelftalker.4.2.png');
  background-position: -10px 20px;
  background-size: 104%;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: none;
  margin: -68px 0 -6px 0;
  overflow: hidden;
  position: relative;

  @include breakpoint($min, 720px) {
    display: inline-block;
    height: 300px;
    margin: -45px 0 -10px 0;
    width: 300px;
  }

  @include breakpoint($min, $post-laptop) {
    display: inline-block;
    height: 380px;
    margin: -60px 0 -10px 0;
    width: 380px;
  }
}
