.hero {
  background-color: #d0343a;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  border-bottom: 0.125rem solid #eee;
  color: #000000;
  height: 15.625rem;
  padding: 0;
  width: 100%;

  &__text {
    &__heroTitle {
      h3 {
        // Not sure what the new font types should be:
        @include Kievit-Bold;
        font-size: 1rem;
        font-weight: normal;
        letter-spacing: 0.09rem;
        margin: 2rem 0 0 0;
        text-transform: uppercase;
      }

      &__des {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 4.2rem 0 0.75rem   0;
        text-align: left;

        @include Milo-Regular;
      }

      &__intro {
        background-color: transparentize(#fff, 0.5);
        font-family: 'KievitWeb-Book', sans-serif;
        font-size: 1.125rem;
        line-height: 1.5;
        text-align: left;
        width: 50%;

        @include media($mobile-breakpoint) {
          width: 100%;
        }
      }
    }
  }

  &__image {
    background-image: url('#{$staffPicksUrl}src/client/images/shelftalker.4.2.png');
    background-position: -10px 20px;
    background-size: 104%;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: none;
    margin: -68px 0 -6px 0;
    overflow: hidden;
    position: relative;
  }
}
