.Hero {
  background-color: #e4382c;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  color: white;
  height: 250px;
  padding: 0;
  width: 100%;

  &__text {
    &__HeroTitle {
      h3 {
        // Not sure what the new font types should be:
        @include Kievit-Bold;
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 0.09rem;
        margin: 30px 0 0 0;
        text-transform: uppercase;
      }

      &__des {
        font-size: 22px;
        line-height: 36px;
        margin: 20px 0 0 0;
        text-align: left;

        @include Milo-Regular;
      }

      &__intro {
        font-family: 'KievitWeb-Book', sans-serif;
        font-size: 16px;
        line-height: 14px;
        text-align: left;
      }
    }
  }

  &__image {
    background-image: url('#{$staffPicksUrl}src/client/images/shelftalker.4.2.png');
    background-position: -10px 20px;
    background-size: 104%;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: none;
    margin: -68px 0 -6px 0;
    overflow: hidden;
    position: relative;
  }
}
