.hero {
  background-color: #fff;
  color: #000000;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @include min-screen($mobile-breakpoint) {
    border-bottom: 0.125rem solid #eee;
  }

  &-image {
    height: 15.625rem;
    position: relative;

    img {
      position: absolute;
      max-width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: 80%;
      object-position: 80%;
      width: 100%;
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
      opacity: 1;
    }
  }

  &-container {
    @include min-screen($mobile-breakpoint) {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 55px;
      width: 100%;
    }
  }

  &-content {
    line-height: normal;
    white-space: normal;

    h1 {
      font-family: Milo-Medium;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.1;
      margin: 0 0 0.75rem 0;
      text-align: left;
    }

    &-description {
      background-color: transparentize(#fff, 0.5);
      font-family: 'KievitWeb-Book', sans-serif;
      font-size: 1.125rem;
      line-height: 1.5;
      width: 50%;

      @include media($mobile-breakpoint) {
        width: 75%;
      }
    }
  }

  &.staff-picks-hero {
    background-color: $nypl-red;
    color: #fff;
    height: 250px;
    width: 100%;

    .hero-content-description {
      background-color: transparent;
    }

    @include media($mobile-breakpoint) {
      background-color: #fff;
      color: #000;

      .hero-section-title {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
      }
    }
  }
}
