// Temporary overrides for the modal window
body {
  .ReactModal__Content {
    min-height: 525px;
    z-index: 2000;
    position: absolute;
    bottom: 500px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 30px 20px 20px 30px;
    width: 850px;
    margin: 4% auto;
    @include breakpoint($max, $post-mobile-phone) {
      border: 0px solid #ccc;
      border-radius: 0px;
      height: 100%;
      left: 0px;
      margin: 0;
      padding: 20px 10px 20px 10px;
      top: 50px;
      width: 100%;
    }
  }
}

.ReactModal__Body--open{
  position: fixed;
  @include breakpoint($min, $post-mobile-phone) {
    position: relative;
  }
}

.ReactModalPortal .ReactModal__Overlay {
  z-index: 200;
  overflow: auto;
  @include breakpoint($max, $post-mobile-phone) {
    background-color: rgba(255, 255, 255, 0);
    overflow: auto;
  }
}
