.TimeSelector {
  font-size: 12px;
  height: 40px;

  @include breakpoint($min, 720px) {
    font-size: 15px;
  }

  @include breakpoint($min, 720px) {
    font-size: 18px;
  }

  a {
    color: $dark-lib-gray;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
  }

  p {
    position: absolute;
    left: 42%;
    margin-top: 25px;

    @include breakpoint($min, $post-mobile-phone) {
      left: 52%;
    }

    @include breakpoint($min, $tablet) {
      margin-top: 0;
    }
  }
}
