.month-picker {
  font-size: 12px;
  height: 40px;

  @include breakpoint($min, 720px) {
    font-size: 15px;
  }
  
  a {
    color: $dark-lib-gray;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
  }

  p {
    position: absolute;
    left: 42%;
    @include breakpoint($min, $post-mobile-phone) {
      left: 52%;
    }
  }
  .left-icon {
    background: url('#{$staffPicksUrl}src/client/images/icons/left_arrow_blue.svg') no-repeat;
    padding: 5px 15px 7px 10px;
    margin: 0 5px 0 25px;
  }
  .right-icon {
    background: url('#{$staffPicksUrl}src/client/images/icons/right_arrow_blue.svg') no-repeat;
    padding: 5px 15px 10px 10px;
    margin-left: 10px;
  }
}
