.sidebar {
  margin-top: -110px;

  @include min-screen($mobile-breakpoint) {
    margin-top: 0;
  }

  h3 {
    margin-top: 70px;
    font-size: 1rem;
    font-weight: 200;
    margin: 16px 0;
  }

  nav {
    @include min-screen($mobile-breakpoint) {
      border-top: 0;
    }
  }

  fieldset {
    border: 0;
    padding: 0.35rem 0;
    margin: 0 0 10px 0;
    label {
      font-size: 0.75rem;
      vertical-align: sub;
    }
    select {
      /* Hides -moz-appearance so we can use costmized dropdown icon on FF */
      -moz-appearance: none;
      /* Hides -webkit-appearance so we can use costmized dropdown icon on WebKit-based browsers */
      -webkit-appearance: none;
      appearance: none;
      /* The costmized dropdown icon */
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3LjY5OTA1IiBoZWlnaHQ9IjMuOTg3MTMiIHZpZXdCb3g9IjAgMCA3LjY5OTA1IDMuOTg3MTMiPgogIDx0aXRsZT5kb3duLjIud2VkZ2U8L3RpdGxlPgogIDxwb2x5bGluZSBwb2ludHM9IjcuMzk1IDAuMzYgMy44NSAzLjM3IDAuMzA0IDAuMzU4IiBmaWxsPSIjZmZmIiBzdHJva2U9IiMyMzFmMjAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIwLjk0MDUiLz4KPC9zdmc+) no-repeat 95% #fff;
      background-color: #fff;
      border: 1px solid;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 100;
      height: 40px;
      left: 120px;
      min-width: 150px;
      padding-left: 0.5rem;
      padding-right: 7%;
      position: absolute;
      width: calc(100% - 120px);

      @include min-screen($mobile-breakpoint) {
        font-size: .75rem;
        left: 100px;
        min-width: 100px;
        width: calc(100% - 100px);
      }
    }
  }

  a.back-link {
    text-decoration: none;
    display: block;
    background: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 12px 0;

    svg {
      float: left;
      margin: 0 0 0 -10px;
    }
  }

  /* Set up fade-in animation for submit button, so that before we detect JS on the browser, */
  /* the submit button can remain invisible in the designated period of time. */
  .no-js {
    -webkit-animation: fadeInBeforeJSDetected 3s;
    -moz-animation: fadeInBeforeJSDetected 3s;
    -o-animation: fadeInBeforeJSDetected 3s;
    animation: fadeInBeforeJSDetected 3s;
  }
}
