.sidebar {
  h2#list-title {
    color: $nypl-red;
    font-size: 1.2rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1rem;
    font-weight: 200;
    margin: 16px 0;

    svg {
      float: left;
      margin: -4px 0 0 -5px;
    }
  }
  fieldset {
    border: 0;
    padding: 0.35rem 0;
    margin: 0 0 10px 0;
    label {
      font-size: 0.75rem;
      vertical-align: sub;
    }
    select {
      /* Hides -webkit-appearance so we can use costmized dropdown icon*/
      -webkit-appearance: none;
      appearance: none;
      /* The costmized dropdown icon*/
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3LjY5OTA1IiBoZWlnaHQ9IjMuOTg3MTMiIHZpZXdCb3g9IjAgMCA3LjY5OTA1IDMuOTg3MTMiPgogIDx0aXRsZT5kb3duLjIud2VkZ2U8L3RpdGxlPgogIDxwb2x5bGluZSBwb2ludHM9IjcuMzk1IDAuMzYgMy44NSAzLjM3IDAuMzA0IDAuMzU4IiBmaWxsPSIjZmZmIiBzdHJva2U9IiMyMzFmMjAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIwLjk0MDUiLz4KPC9zdmc+) no-repeat 95% #fff;
      background-color: #fff;
      border-radius: 5px;
      left: 120px;
      height: 40px;
      min-width: 100px;
      padding-left: 0.5rem;
      padding-right: 7%;
      position: absolute;
      width: 40%;
    }
  }
  a.back-link {
    text-decoration: none;
    display: block;
    background: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 12px 0;

    svg {
      float: left;
      margin: 0 0 0 -10px;
    }

    @include min-screen($mobile-breakpoint) {
      display: block;
    }
  }
  .pick-count {
    display: block;
    margin: 0;
  }
}
