<html>
<head>
  <title>react-webpack-boilerplate</title>
</head>
  <body>
  <div id="header-container"></div>
    
    <div id="hero"></div>
    
    <div id="content">
      <%- body %>
    </div>

    <div id="footer-container"></div>

  <script type="text/javascript">
    var staffPicks = <%- staffPicks %>;
  </script>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
