/*
Import style rules from NYPL Design Toolkit
*/
@import "nypl-normalize";
@import "toolkit";

/*
App-specific utilities and defaults
*/
@import 'utils/variables';
@import 'utils/mixins';
// @import 'utils/fonts';
@import 'utils/colors';
@import 'utils/utils';

/*
Import style rules from NYPL React module components
*/
@import "~@nypl/dgx-header-component/dist/styles/main";
@import "~@nypl/dgx-react-footer/dist/styles/styles.scss";

@import 'components/about';
@import 'components/bookFilters';
@import 'components/bookList';
@import 'components/error404Page';
@import 'components/filter';
@import 'components/hero';
@import 'components/sidebar';
@import 'components/bookPage';

body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  @include box-sizing(border-box);
}

.content-wrapper {
  @include full-width-wrapper;
}

li {
  list-style: none;
}
