/*
Import style rules from NYPL Design Toolkit
*/
@import "nypl-normalize";
@import "toolkit";

/*
App-specific utilities and defaults
*/
@import 'utils/variables';
@import 'utils/mixins';
// @import 'utils/fonts';
// @import 'utils/colors';
@import 'utils/utils';
@import 'utils/base';

/*
Import style rules from NYPL React module components
*/
@import "~@nypl/dgx-header-component/dist/styles/main";
@import "~@nypl/dgx-react-footer/dist/styles/styles.scss";

@import 'components/hero';
@import 'components/error404Page';

body {
  background-color: #FFF;
  color: #000;
  margin: 0;
  padding: 0;
}

// Override:
.FindUsWidget-FindUsFeature-Link {
  span[class*="icon-"] {
    display: inline-block;
  }
}

.EmailSubscription-Wrapper {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

#header-container {
  font-size: 100%;
}

.Header {
  .MyNypl-Wrapper,
  .StickyMyNypl-Wrapper {
    .MyNypl .icon {
      display: inline-block !important;

      &:before {
        margin-right: 0px !important;
      }
    }
  }
}
