/*
Import style rules from NYPL Design Toolkit
*/
@import "nypl-normalize";
@import "toolkit";

/*
App-specific utilities and defaults
*/
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/colors';
@import 'utils/utils';
@import 'utils/animations';

/*
Import style rules from NYPL React module components
*/
@import "~@nypl/dgx-header-component/dist/styles/main";
@import "~@nypl/dgx-react-footer/dist/styles/styles.scss";

@import 'components/about';
@import 'components/bookList';
@import 'components/error404Page';
@import 'components/filter';
@import 'components/hero';
@import 'components/sidebar';
@import 'components/bookFilters';
@import 'components/bookPage';
@import 'components/topHeading';

body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  @include box-sizing(border-box);
}

.content-wrapper {
  @include full-width-wrapper;
}

li {
  list-style: none;
}

// Small override to a normalize rule which mess up the layout for
// the footer in the mobile and tablet viewports.
.footer {
  .socialMedia {
    li {
      margin-left: 0;
    }

    @include min-screen(1500px) {
      width: 380px;
    }
  }

  .footerLinks {
    width: 81%;

    @include min-screen(768px) {
      width: 100%;
    }
  }

  .copyright p {
    max-width: 100%;
  }

  &-content {
    @include min-screen(768px) {
      left: auto;
    }
  }
}
